.nav-menu{
  list-style: none;
}
.visually-hidden{
  display: none;
}
.wrapper {

 width: 1250px;
  margin: 0 auto;
  padding: 0px 30px;
}
.main-slider-1{
background-image:  url("../img/background/background1.png");

}

.slider-img-1{
  background-image: url("../img/background/background1-1.png");
  width: 1045px;
  height: 881px;
  margin-right: auto;
  margin-left: auto;

}
/*
.main-slider-2{
  background-image:  url("../img/background/background2.png");

}
.slider-img-2{
  background-image: url("../img/background/background2-1.png");
  width: 1045px;
  height: 881px;
  margin-right: auto;
  margin-left: auto;

}

.main-slider-3{
  background-image:  url("../img/background/background3.png");

}
.slider-img-3{
  background-image: url("../img/background/background3-1.png");
  width: 1045px;
  height: 881px;
  margin-right: auto;
  margin-left: auto;

}*/
a {
  color: inherit;
  text-decoration: none;
}

.main-description-list{
  background: url("../img/seo/seo-back.png");
  background-repeat: no-repeat;

  list-style: none;

}

.footer-nav{
 list-style: none;
   background-image: url("../img/footer-heart/heart.svg");
    background-repeat: no-repeat;
}
.user-nav{
list-style: none;
}
.catalog-item{
  list-style: none;
}

.header-search {
  content: "";
  background-image: url("../img/loupe/loupe.svg");
   background-repeat: no-repeat;
   width: 17px;
   height: 17px;
   display: inline-block;


}

.header-login::before {
  content: "";
   background: url("../img/login/login.svg");
   background-repeat: no-repeat;
   width: 21px;
   height: 19px;
   color: white;
   display: inline-block;


}
.header-shopping-cart::before{
  content: "";
  background-image: url("../img/shopping-cart/basket.svg");
   background-repeat: no-repeat;
   width: 21px;
   height: 20px;
   display: inline-block;

}
.header-shopping-cart-catalog{
  background-image: url("../img/shopping-cart/basket-red.svg");
   background-repeat: no-repeat;

}
.map{
    background-image: url("../img/pin/pin.svg");
   background-repeat: no-repeat;

}
.cranberry{
   background-image: url("../img/banner/cranberry-back.jpg");
   background-repeat: no-repeat;
   border-radius: 20px;
   width: 560px;
   height: 229px;

}
.chocolate{
  background-image: url("../img/banner/chocolate-back.jpg");
   background-repeat: no-repeat;
   width: 560px;
   height: 229px;
}

.
.ice-cream{
  background-image: url("../img/seo/ice-cream.svg");
   background-repeat: no-repeat;

}
.eco{
  background-image: url("../img/seo/eco.svg");
   background-repeat: no-repeat;

}
.cow{
  background-image: url("../img/seo/cow.svg");
   background-repeat: no-repeat;

}
.thermometer{
  background-image: url("../img/seo/thermometer.svg");
   background-repeat: no-repeat;

}

.news{
  background-image: url("../img/news/strawberry-back.jpg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
}
.news-email{
   background-image: url("../img/post/bg-post.svg");
  background-repeat: no-repeat;
  width: 560px;
  height: 220px;
}
.social{
  list-style: none;
}
.social-fb{
   background-image: url("../img/social/fb.svg");
   background-repeat: no-repeat;
   display: block;
   width: 32px;
   height: 32px;
}
.social-instagram{
   background-image: url("../img/social/instagram.svg");
   background-repeat: no-repeat;
   display: block;
   width: 32px;
   height: 32px;
}
.social-twitter{
   background-image: url("../img/social/twitter.svg");
   background-repeat: no-repeat;
   display: block;
   width: 32px;
   height: 32px;
}
.social-vk{
   background-image: url("../img/social/vk.svg");
   background-repeat: no-repeat;
   display: block;
   width: 32px;
   height: 32px;
}
